*{
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    column-gap: 5vw;
}


abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}
strong {
    font-weight: bolder;
}

img {
    border-style: none;
}
button,
input{
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input { /* 1 */
  overflow: visible;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}




.logo-section{
    display: flex;
    flex-direction: column;
    min-height: 100vh;    
}

.logo-container{
    background-color: rgba(1, 1, 1, 0.5);
    display: flex;
    width: 20vw;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;    
}

.logo-container > img{
    width: 10vw;
    height: 10vh;  
}
.logo-section > p{
    margin-top: auto;
    width: 15vw;
    height: 10vh;
    font-size: 2vh;
    text-align: center;
}
.form-label{
    text-transform: uppercase;
}