*{
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    font-family: sans-serif;
    background-color: rgb(251, 250, 250);
}


abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}
strong {
    font-weight: bolder;
}

img {
    border-style: none;
}
button,
input{
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input { /* 1 */
  overflow: visible;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}




.logo-section{
    display: flex;
    flex-direction: column;
    min-height: 100vh;    
    justify-content: center;
    align-items: center;
    background: url(./images/background.jpg);
}

.logo-container{
    background-color: rgba(1, 1, 1, 0.5);
    display: flex;
    width: 40vw;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;    
}

.logo-container > img{
    width: 20vw;
    height: 20vh;  
}
.logo-section > p{
    margin-top: auto;
    width: 20vw;
    height: 10vh;
    font-size: .9rem;
    text-align: center;
    color: white;
}
.form-label{
    text-transform: uppercase;
    color: rgba(0, 0, 0, .7);
    font-size: 0.8rem;
    font-weight: 600;
}

.content-section{
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    
}
.description-container{
    margin-top: 15vh;
    width: 45vw;
    
}
.description-container >p{
    font-size: 1.7rem;
    font-weight: 800;
}
.form-heading> h2, .form-heading > p{
    margin: 0;
    padding: 0;
}

.form-heading, .form-body{
    background-color: white;
    padding: .5vw 15vw .5vw 5vw;
    margin-left: -4.9vw;
    margin-right: -10vw;
}

.form-body>ul{
    padding: 0;
    margin:0;
    
}

.form-body > ul >li{
    list-style: none;
    display: flex;
    width: 80%;
    margin-bottom: 3vh;
    margin-top: 2vh;
}
.form-body > ul > li  input{
    border: 2px solid #E5E7EB;
    border-radius: 3px;
}

.form-body > ul > li > div > input:focus{
    outline: 2px solid rgb(70, 124, 190);
}

.form-body > ul > li > .right-column{
    margin-left: auto;
    width: 35%;
    display: flex;
    flex-direction: column;
    
}
.form-body > ul > li > .left-column{
    width: 35%;
    display: flex;
    flex-direction: column;
}

.form-footer > button{
    background-color: #596D48;
    padding: 8px 36px;
    color: white;
    border-radius: 6px;
    font-size: 1.3rem;
    border: 1px solid transparent;
    margin-top: 2vh;
    font-weight: 600;
}




.form-footer{
    font-weight: 600;
    color: rgba(0, 0, 0, .7);
}

.form-footer > p > a{
    color: #596D48;
    text-decoration: none;
}

.form-body > ul > li > div > input.error{
    outline: 2px solid red;
}
